<div
  class="flex flex-col items-center justify-center gap-1 text-center md:flex-row md:justify-between"
>
  <div class="flex flex-col items-center gap-2 md:flex-row">
    <a [href]="model.companyUrl" target="_blank">
      <img
        [src]="model.logoSrc"
        alt=""
        height="32"
        width="32"
        class="rounded-md"
      />
    </a>
    <p class="flex flex-col md:mt-0 md:flex-row md:gap-1.5">
      {{ model.jobTitle }} &commat;
      <a
        [href]="model.companyUrl"
        target="_blank"
        class="nobreak -mt-0.5 whitespace-nowrap font-medium hover:underline md:m-0"
        >{{ model.company }}</a
      >
    </p>
  </div>
  <p class="text-xs text-slate-500 md:text-base">{{ model.dateRange }}</p>
</div>
