<a
  [routerLink]="post.route"
  [attr.aria-label]="'Go to blog post titled ' + post.title"
>
  <colin-card styleClass="bg-white group" [header]="header" [removeGap]="true">
    <!-- Thumbnail -->
    <div
      class="h-48 w-full rounded bg-[url(/assets/images/placeholder.webp)] bg-cover bg-center"
      [ngClass]="
        'bg-[url(' +
        (post.thumbnail || '/assets/images/placeholder.webp') +
        ')]' +
        (header ? ' mt-3' : '')
      "
    ></div>

    <div class="my-3 flex flex-wrap items-center gap-2">
      <!-- Published Date -->
      <span class="mr-1 text-sm">{{
        post.publishedDate | date: 'mediumDate' : 'UTC'
      }}</span>

      <!-- Tag Pills -->
      @for (tag of post.tags; track tag) {
        <colin-pill
          [model]="{
            text: tag,
            iconSrc: 'https://icon.icepanel.io/Technology/svg/' + tag + '.svg'
          }"
        />
      }
    </div>

    <!-- Title -->
    <h3 class="-mt-1 font-mono text-xl group-hover:underline">
      {{ post.title }}
    </h3>

    <!-- Description -->
    <p class="text-sm text-slate-600">{{ post.description }}</p>
  </colin-card>
</a>
