<a
  [routerLink]="post.route"
  [attr.aria-label]="'Go to blog post titled ' + post.title"
>
  <colin-card styleClass="bg-white group" [header]="header" [removeGap]="true">
    <!-- Thumbnail -->
    <div
      class="h-48 w-full rounded-lg bg-cover bg-center"
      [ngClass]="{ 'mt-3': header }"
      [ngStyle]="{ 'background-image': 'url(' + post.thumbnail + ')' }"
    ></div>

    <!-- Published Date -->
    <p class="mb-1 mt-3 text-sm">
      {{ post.publishedDate | date: 'mediumDate' : 'UTC' }}
    </p>

    <!-- Title -->
    <h3
      class="mb-1 font-mono text-xl font-medium leading-tight group-hover:underline"
    >
      {{ post.title }}
    </h3>

    <!-- Description -->
    <p class="text-sm text-slate-600">{{ post.description }}</p>
  </colin-card>
</a>
