<div
  class="mx-auto max-w-3xl bg-[url('/assets/images/bg.png')] bg-top bg-no-repeat px-4 py-5"
>
  <!-- Top Section -->
  <nav
    class="mb-6 flex w-full flex-col items-center justify-between gap-4 md:flex-row"
  >
    <a
      routerLink="/"
      class="group flex w-max flex-col items-center justify-center gap-3 md:flex-row md:justify-start"
      aria-label="Go to Home page"
    >
      <!-- Avatar -->
      <img
        src="/assets/images/colin.webp?v=1"
        alt=""
        height="72"
        width="72"
        class="rounded-full"
      />
      <div class="text-center md:text-left">
        <!-- Name -->
        <p class="font-mono text-xl font-medium group-hover:underline">
          Colin Williams
        </p>
        <!-- Description -->
        <p>Software Engineer & Frontend Architect</p>
      </div>
    </a>

    <!-- Nav Links -->
    <div class="flex gap-7">
      <a
        routerLink="/"
        class="font-mono font-medium hover:underline"
        aria-label="Go to Home page"
        >Home</a
      >
      <a
        routerLink="/blog"
        class="font-mono font-medium hover:underline"
        aria-label="Go to Blog page"
        >Blog</a
      >
      <a
        routerLink="/contact"
        class="font-mono font-medium hover:underline"
        aria-label="Go to Contact page"
        >Contact</a
      >
    </div>
  </nav>

  <!-- Page Content -->
  <router-outlet />

  <!-- Footer -->
  <footer class="mb-6 mt-10 text-center text-slate-500">
    <p class="text-sm">&copy; 2024 Colin A. Williams</p>
    <div class="flex justify-center gap-2">
      <a
        class="p-2"
        routerLink="/github"
        target="_blank"
        aria-label="Colin's GitHub"
      >
        <fa-icon [icon]="faGithub" />
      </a>
      <a
        class="p-2"
        routerLink="/linkedin"
        target="_blank"
        aria-label="Colin's LinkedIn"
      >
        <fa-icon [icon]="faLinkedin" />
      </a>
      <a
        class="p-2"
        routerLink="/resume"
        target="_blank"
        aria-label="Colin's Resume"
      >
        <fa-icon [icon]="faFilePdf" />
      </a>
    </div>
  </footer>
</div>
